body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
}

h1, h2 {
    color: #333;
}

header img {
    width: 100px;
    height: auto;
    cursor: pointer;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 40px;
}

ul {
    list-style-type: square;
}
